{% extends "base.html" %} {% block title %}Professional Status{% endblock  %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/dashboard">Welcome! Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="home" href="/admin/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="search" href="/admin/search">Search</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                  Status
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="customer_status" href="/customer/status">Customer Status</a>
                    <a class="dropdown-item" id="professional_status" href="/professional/status">Professional Status</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="summary" href="/admin/summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock  %}

{% block content %}
<br>
<h3>All Professionals Status</h3>
<div id="app">

    <div :class="['alert-container', showAlert ? 'show' : '']">
        <div v-if="errorMessage" class="alert alert-danger">
            [[errorMessage]]
            <button @click="errorMessage = ''" class="close-btn">X</button>
        </div>
        <div v-if="successMessage" class="alert alert-success">
            [[successMessage]]
            <button @click="successMessage = ''" class="close-btn">X</button>
        </div>
    </div> 

    <table v-if="profs.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Professional Id</th>
            <th scope="col">Name</th>
            <th scope="col">Experience(in years)</th>
            <th scope="col">Service</th>
            <th scope="col">PDF</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="prof in profs" :key="prof.id">
                <th scope="row">
                    <a :href="'/professional/details/'+ prof.id" style="text-decoration: none; color: inherit;">
                        [[ prof.id ]]
                    </a>
                </th>
                <td>[[prof.name]]</td>
                <td>[[prof.experience]]</td>
                <td>[[prof.service]]</td>
                <td>
                    <a v-if="prof.pdf_file_path" :href="prof.pdf_file_path" target="_blank" class="btn btn-outline-secondary btn-sm">View PDF</a>
                </td>  
                <td>
                    <span v-if="prof.status === 'approved'">Approved</span>
                    <span v-if="prof.status === 'rejected'">Rejected</span>
                    <span v-if="prof.status === 'blocked'">Blocked</span>
                    <span v-if="prof.status === 'pending'">Request pending</span>
                    <a v-if="prof.status === 'approved'" :href="'/admin/block/professional/' + prof.id" class="btn btn-danger btn-sm mx-1">Block</a>
                    <a v-if="prof.status === 'blocked'" :href="'/admin/unblock/professional/' + prof.id" class="btn btn-warning btn-sm mx-1">Unblock</a>
                    <a :href="'/admin/delete/prof/' + prof.id" class="btn btn-dark btn-sm mx-1">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div v-else class="alert alert-dark" role="alert">
        There is no active professional.
    </div> 
</div>
<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",
        data: {
            successMessage: "",
            errorMessage: "",
            profs: []
        },
        computed: {
            showAlert() {
                return this.errorMessage || this.successMessage;
            }
        },
        mounted() {
                fetch("/api/admin/prof")
                    .then(response => response.json())
                    .then(data => {
                        this.profs = data.active_prof;
                        this.flashMessages = JSON.parse('{{ get_flashed_messages(with_categories=True) | tojson }}');
                        this.flashMessages.forEach(([category, message]) => {
                        if (category === "success") this.successMessage = message;
                        if (category === "error") this.errorMessage = message;    
                    });
                    });
            }
        
    });
</script>
{% endblock %}