{% extends "base.html" %} {% block title %}Available Services{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/customer-dashboard">Welcome! {{ user.full_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="home" href="/customer-dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="search" href="/user-search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="summary" href="/user-summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<br>
<div id="app">
    <div :class="['alert-container', showAlert ? 'show' : '']">
        <div v-if="successMessage" class="alert alert-success">
            [[successMessage]]
            <button @click="successMessage = ''" class="close-btn">X</button>
        </div>
    </div> 
<h3>Available Service Providers for [[service.service]]</h3>

<div v-if="approvedProfs.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Professional ID</th>
                <th>Professional Name</th>
                <th>Details</th>
                <th>Price(Rs)</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="prof in approvedProfs" :key="prof.id">
                <td>[[prof.id]]</td>
                <td>[[prof.full_name]]</td>
                <td>[[prof.desc]]</td>
                <td>[[prof.price]]</td>
                <td>[[ prof.average_rating ? (prof.average_rating.toFixed(2)) : 'N/A' ]]</td>
                <td>
                    <span v-if="bookedProfessions[prof.id]">Booked</span>
                    <form v-else :action="'/book_service/' + prof.id" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-success btn-sm">Book</button>
                    </form>
                </td>                
            </tr>
        </tbody>
    </table>
</div>
    <div v-else class="alert alert-dark" role="alert">
        No service providers available for this service.
    </div>
<br>
<br>
<h3>Service History</h3>
<div v-if="serviceHistory.length > 0">
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Service Id</th>
            <th scope="col">Service name</th>
            <th scope="col">Professional name</th>
            <th scope="col">Requested Date</th>
            <th scope="col">Closed Date(if Closed)</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="request in serviceHistory" :key="request.id">
            <th scope="row">[[request.id]]</th>
            <td>[[request.service.service]]</td>
            <td>[[request.professional.full_name]]</td>
            <td>[[formatDate(request.date_of_request)]]</td>
            <td>[[request.date_of_completion ? formatDate(request.date_of_completion) : 'Not Closed']]</td>
            <td>
                <div v-if="request.service_status === 'pending'">
                    Pending
                    <form :action="'/show_services/cancel_request/' + request.id" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm mx-1">Cancel</button>
                    </form>
                </div>
                <div v-else-if="request.service_status === 'cancelled'">
                    Cancelled
                </div>
                <div v-else-if="request.service_status === 'accepted'">
                    Accepted
                    <a :href="'/close_service/' + request.id" type="button" class="btn btn-warning btn-sm mx-1" style="display:inline;">Close it</a>
                </div>
                <div v-else-if="request.service_status === 'closed'">
                    Closed
                </div>
                <div v-else-if="request.service_status === 'rejected'">
                    Rejected
                </div>
            </td>
        </tr>
    </tbody> 
    </table>
</div>
<div v-else>
    <div class="alert alert-dark" role="alert">
        No history, Book your first service.
    </div> 
</div>
</div>

<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            user: JSON.parse('{{ user | tojson }}'),
            service: JSON.parse('{{ service | tojson }}'),
            profs: JSON.parse('{{ profs | tojson }}'),
            requests: JSON.parse('{{ requests | tojson }}'),
            bookedProfessions: JSON.parse('{{ booked_professionals | tojson }}'),
            serviceHistory: JSON.parse('{{ service_history | tojson }}'),
            successMessage: ""
        },
        computed: {
            history() {
                return this.requests.filter(
                    request => 
                        request.customer_id === this.user.id && 
                        request.service_id === this.service.id
                    );
            },
            approvedProfs() {
                return this.profs.filter(prof => prof.status === 'approved');
            },
            showAlert() {
                return this.errorMessage || this.successMessage;
            }
        },
        methods: {
            formatDate(date) {
                return new Date(date).toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "2-digit",
                    year: "numeric",
                    hour: "2-digit",
                    minute: "2-digit"
                });
            }
        },
        mounted(){
            this.flashMessages = JSON.parse('{{ get_flashed_messages(with_categories=True) | tojson | safe }}');
            this.flashMessages.forEach(([category, message]) => {
            if (category === "success") this.successMessage = message;
            });
        },
    });
</script>
{% endblock %}
